extends layout

block content
    h3.cap Database
    ul
        li.mb-10
            a(href="/events") Events
        li.mb-10
            a(href="/items") Items
        li.mb-10
            a(href="/weapons") Weapons
