extends layout

block content
    - for(key in events)
        h3.cap= key + " events"
        ul
            each event in events[key]
                li.mb-10
                    a(href="/events/" + event.id)= event.name
