extends layout

block content
    - for(key in items)
        h3.cap= types[key].name
        ul
            each item in items[key]
                li.event_link
                    a(href="/items/" + item.id)= item.name
